// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
    display: flex;
}

#sidebar {
	min-width: 250px;
	height: 100vh;
	background: #7386D5;
	color: white;
	transition: all 0.3s;
	position: fixed;
	padding: 30px;
	z-index: 99999999;
	a {
		color: white;
	}
}



